/* You can add global styles to this file, and also import other style files */
@import "~loaders.css/loaders.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// BUSYNESS
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  color: pink;
  top: 0;
  background-color: rgba(0,0,0, .8);
  z-index: 999999;

  .loader-inner {
    margin-top: 50vh;
    margin-left: 50vw;
  }
}

.btnPrimaryMaterial {
  color: white;
  background-color: #204f81!important;
}

.propioBtnPrimary {
  color: white;
  background-color: #204f81!important;
  border-color: #204f81!important;
}

.propioBtnRedondo {
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.fullWidth {
  width: 100%;
}

.sub-title {
  border-bottom: 1px solid #EAEAEA;
}

.cardTitleSection {
  border: 1px solid #E4E4E4;
  padding: 1em;
  padding-left: 2em;
  text-align: left;
}

.cardMouse:hover {
  cursor: pointer;
}

.cardMouseBloqueo:hover {
  cursor: no-drop;
}

.iconCard {
  font-size: 2.5em!important;
  display: inline-block;
  margin-right: 0.25em;
  vertical-align: middle;
}

.stepInlineCard {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.titleCard {
  font-weight: bold;
  font-size: 1.1em;
}

.descriptionCard {
  font-size: 0.9em;
}

.activeCard {
  background-color: #EAEAEA;
}

.activeIcon {
  color: #00bc65;
}

.encabezadoTablaMaterial {
  background-color: #204f81;
  color: white;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.subTitleCard {
  font-size: 1.2em;
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 2px solid #EAEAEA;
  font-family: 'Roboto Condensed', sans-serif;
}

.espacioEntreFilas {
  margin-top: 2%;
}

.colorHeader {
  background-color: #204f81!important;
  color: white;
}

.borderCard {
  border: 1px solid #353d47!important;
}

.seccionSlide {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.example-margin {

}

.alertBorder {
  border: 1px solid red!important;
}

/* Manejo de cursor */

.change-mouse:hover {
  cursor: pointer;
}

/* Botones */

.button-primary {
  color: white;
  background-color: #204f81!important;
  border-color: #204f81!important;
}

.button-ligth {
  color: black;
  background-color: #CDCECF!important;
  border-color: #CDCECF!important;
}

.button-circle {
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 20px!important;
  border-top-left-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
  border-top-right-radius: 20px!important;
}

/* Espacios entre elementos */

.ct-margin-bottom {
  margin-bottom: 2%;
}

.ct-margin-left {
  margin-left: 2%;
}

/* Color de texto */

.color-sv-text {
  color: #878787;
}

/* Mantenimientos simples */

.border-separator {
  border-right: 1px transparent;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 2%;
}

@media only screen and (min-width: 992px) {
  .border-separator {
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px transparent;
    margin-bottom: 0;
  }
}